body {
    margin: 10px;

    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;

    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.5em;
}

#submit {
    margin-top: 20px;
    margin-bottom: 10px;

    width: 100%;
}
